@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Poppins&family=Space+Grotesk&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #c1dad6;
  color: black;
  font-family: "Poppins";
}

.nav-bar {
  display: flex;
  background-color: #21bede;
  color: #fff;
  align-items: center;
  justify-content: space-around;
  height: 60px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #21bede;
  color: white;
  position: fixed;
  height: 100%;
  overflow: auto;
}
li a {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

/*li a.active {
    background-color: #04AA6D;
    color: white;
  }*/

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.main-logo {
  margin-left: 20%;
  padding: 1px 16px;
}
.logo {
  font-family: "Oleo Script";
  font-size: 28px;
}
input {
    display: flex;
    padding: 15px;
    border: none;
    border-radius: 5px;
  }
  ul.database {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  
  .database li{
    border: none;
    list-style: none;
    direction: flex;
  
  }
  .answer li{
    border: 1px solid
    
  }
  .answer2 li{
    border: 1px solid
    
  }
  .answer3 li{
    border: 1px solid
    
  }
  .answer4 li{
    border: 1px solid
    
  }
  